* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  letter-spacing: .02em; }

.code {
  font-family: 'Overpass Mono', monospace; }

p {
  padding: .7em 1em; }

ul {
  padding-left: 6vw; }

li {
  width: 60%; }

h2 {
  padding-top: 2vh; }

body {
  min-height: 100vh;
  background-color: #585563;
  color: #CEB992;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }

header {
  background-color: #471323;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 14vh;
  min-height: 2em; }

main {
  color: #471323;
  background-color: #73937e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

main p {
  text-align: left; }

section {
  height: 76vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: .5em; }

section p {
  width: 60%; }

aside {
  width: 20vw;
  height: 76vh;
  color: #5B2E48;
  background-color: #5B2E48;
  display: flex;
  flex-direction: column;
  align-items: center; }

button {
  width: 12vw;
  padding: .7em;
  border-radius: 5em;
  margin: 1em;
  font-size: 1vw;
  background-color: #99AFA0;
  outline: none; }

button:hover {
  background-color: #396247; }

span {
  font-style: italic; }

footer {
  width: 100vw;
  height: 10vh;
  min-height: 2em;
  background-color: #73937e;
  background-color: #5B2E48;
  background-color: #471323;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
