* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  letter-spacing: .02em; }

.code {
  font-family: 'Overpass Mono', monospace; }

a {
  text-decoration: none;
  color: #471323; }

ul {
  padding-left: 6vw; }

li {
  width: 60%;
  padding-top: 1em; }

h2:first-child {
  padding-top: 2vh; }

.App {
  font-size: 18px; }

body {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  background-color: #585563;
  color: #471323;
  color: #CEB992;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }

header {
  color: blanchedalmond;
  background-color: #471323;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 14vh;
  min-height: 3em; }

main {
  color: #471323;
  background-color: #73937e;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; }

section {
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-top: .5em; }
  section div {
    width: 90%;
    text-align: left; }

section div {
  padding-left: 5vw; }

div p {
  padding-top: 1em; }

aside {
  background-color: #396247;
  width: 20vw;
  color: #5B2E48;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll; }

#home {
  display: flex;
  flex-direction: column;
  justify-content: center; }

button:first-child {
  margin-top: 2em; }

button {
  width: 18vw;
  padding: .7em;
  border-radius: 5em;
  margin: 1em;
  font-size: .7em;
  background-color: #99AFA0;
  outline: none;
  min-height: 2em;
  text-align: center; }

button:hover {
  background-color: #396247; }

#mysection ul {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 19vh;
  padding-left: 5vw; }
  #mysection ul li {
    padding: 0;
    margin: 0; }
    #mysection ul li button {
      color: #471323;
      width: 30vw;
      font-size: 1em;
      padding: 0;
      margin: 0; }

#test-buttons {
  list-style-type: none; }

.italic {
  font-style: italic; }

footer {
  width: 100vw;
  height: 10vh;
  min-height: 3em;
  background-color: #471323;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  footer p {
    padding-top: 0; }

@media screen and (max-width: 500px) {
  .App {
    font-size: 3vw; }
  body {
    font-size: 15px; }
  aside {
    width: 20vw; }
  button {
    width: 19vw; } }

@media screen and (max-width: 500px) {
  .App {
    font-size: 3vw; }
  body {
    font-size: 15px; }
  aside {
    width: 20vw; }
  button {
    width: 19vw; } }

@media screen and (min-width: 501px) and (max-width: 600px) {
  .App {
    font-size: 3vw; }
  body {
    font-size: 15px; }
  aside {
    width: 20vw; }
  button {
    width: 19vw; } }
